<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Groups</h2>

<div class="container"></div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-success fa fa-plus"
  data-toggle="modal"
  style="position: fixed; bottom: 20px; right: 20px; border-radius: 100%; z-index: 100;"
  data-target="#createGroupModal"
>
</button>

<% if(typeof message !== 'undefined'){ %>
<p style="color: green"><%= message%></p>
<% } %> <% if(typeof error !== 'undefined'){%>
<p style="color: red"><%= error%></p>
<% } %>


<table class="table mt-5">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Image</th>
      <th>Name</th>
      <th>Limit</th>
      <th>Members</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if(groups.length > 0){
      for(let i=0; i<groups.length; ++i){
        %>
          <tr>
            <td><%=i+1%></td>
            <td><img src="http://localhost:50001/<%= groups[i]['image']%>" style="border-radius: 100%;" width="40px" height="40px" alt="image"></td>
            <td>
              <%=groups[i]['name']%>
            </td>
            <td>
              <%=groups[i]['limit']%>
            </td>
            <td>
              <a class="cursor-pointer addMember" data-id="<%=groups[i]['_id']%>" data-limit="<%=groups[i]['limit']%>" data-toggle="modal" data-target="#memberModal" >Members</a>
            </td>
            <td>
              <a class="updateGroup cursor-pointer" data-obj="<%= JSON.stringify(groups[i])%>" data-toggle="modal" data-target="#updateGroupModal">
                <i class="fa fa-pencil"></i>
              </a>

              <a class="deleteGroup cursor-pointer" data-id="<%= groups[i]['_id']%>" data-name="<%= groups[i]['name']%>" data-toggle="modal" data-target="#deleteGroupModal">
                <i class="fa fa-trash"></i>
              </a>

                <a class="copy cursor-pointer" data-id="<%= groups[i]['_id']%>">
                <i class="fa fa-copy"></i>
              </a>
            </td>
          </tr>
        <%
      }

     }else{ %>
    <tr>
      <td>No Group Found!</td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- Member Modal -->
<div
  class="modal fade"
  id="memberModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="" id="add-member-form" >
        <div class="modal-body">
          <input type="hidden" name="groupID" id="groupID" />
          <input type="hidden" name="limit" id="limit"/>

          <table class="table">
            <thead>
              <tr>
                <th>Select</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <div class="addMemberTable">
                    <table class="table addMembersInTable">
                      
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <p id="add-member-error"></p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Add Group Modal -->
<div
  class="modal fade"
  id="createGroupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form class="form" action="" method="post" enctype="multipart/form-data">
        <div class="modal-body">
           <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Group Name"
            class="form-control"
            id="groupName"
            required
          />
          <input type="file" name="image" class="form-control mb-2 mt-2" required />
          <input
            type="number"
            min="1"
            placeholder="Enter user limit"
            name="limit"
            class="form-control"
            required
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Update Modal -->
<div
  class="modal fade"
  id="updateGroupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="" method="post" enctype="multipart/form-data" id="updateChatGroupForm">
        <div class="modal-body">
          <input type="hidden" name="lastLimit" id="lastLimit">
          <input type="hidden" name="id" id="updateGroupID">
            <input
            type="text"
            name="name"
            id="updateGroupName"
            class="form-control"
            placeholder="Group Name"
            class="form-control mb-3"
            required
            />
          <input type="file" name="image" class="form-control mt-2 mb-2"  />
          <input
            type="number"
            min="1"
            placeholder="Enter user limit"
            name="limit"
            id="groupLimit"
            class="form-control"
            required
          />
          <p><b class="mr-1">Node:</b>If you enter the limit less than to previous limit all users will remove from your group.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-warning">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="deleteGroupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="" method="post" enctype="multipart/form-data" id="deleteChatGroupForm">
        <div class="modal-body">
          <input type="hidden" name="id" id="deleteGroupID">
          <p>Are you sure to delete <b id="deleteGroupName"></b> Group?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('layouts/footer.ejs') %>
